@import 'colors';
@import 'dimensions';
@import 'components';
@import 'ui-mixins';

body {
  font-family: 'Source Sans Pro', Roboto, 'Open Sans', 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

form {
  label {
    color: @gray;
    font-size: 0.75em;
    margin-bottom: 0px;
  }

  input {
    display: block;
    padding: 0px;
    border: none;
    border-bottom: 1px solid lighten(@gray, 20%);
    margin-bottom: @padding;
    width: 100%;
    .transition();
    &:focus {
      border-bottom-color: @gray;
    }
  }

  input[type="submit"] {
    background: @positive;
    color: @light;
    .button();
  }
}

header {
  background: @accent;
  padding: @padding;
  margin: 0px;
  display: flex;
  align-items: center;
  color: @light;

  a {
    color: @light;
    text-decoration: none;
  }

  h1 {
    font-family: 'Lobster', 'Lobster 1.4';
    font-weight: 400;
    padding: 0px;
    margin: 0px;
  }

  input {
    background: transparent;
    border: 1px solid @light;
    padding: @padding;
    opacity: 0.75;
    margin: 0px @padding;
    .transition();
    flex-grow: 2;
    color: @light;

    .placeholder ({
      color: @light;
    });

    &:focus {
      opacity: 1;
    }
  }
}

code {
  font-family: 'FiraCode', 'FiraMono', 'Source Code Pro', monospace;
}

pre code {
  background: @pale-yellow;
  border-radius: 5px;
  padding: @padding / 2;
  margin: (@padding / 2) 0px;
  width: auto;
}

main {
  padding: @padding @content-padding;
}

.packages {
  h2 {
    width: 100%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;

    & > div {
      padding: @padding;
      margin: @padding;
      max-height: 150px;
      flex: 1;
      overflow: hidden;
      position: relative;

      .transition();
      .box();

      h3 a {
        text-decoration: none;
        color: black;
      }

      &:hover {
        h3 a {
          color: @accent;
        }
      }

      .stats {
        background: linear-gradient(to top, @light 50%, transparent);
        height: 2em;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding-top: 1.5em;
        text-align: center;
        i {
          margin-left: 10px;
        }
      }
    }
  }
}

i {
  margin-right: 10px;
}

.light {
  color: darken(@light, 50%);
}

footer {
  background: @accent;
  color: @light;
  display: flex;
  justify-content: center;
  padding: @padding * 4;

  div {
    margin: 0px (@padding * 2);
  }

  a {
    display: block;
    color: @light;
    text-decoration: none;
    padding: (@padding / 2);
    transition: all 0.2s ease-in;

    &:hover {
      opacity: 0.75;
    }
  }
}

.package {
  display: flex;
  & > div {
    pre {
      white-space: pre-wrap;
    }
    flex: 3;
  }
  & > aside {
    flex: 1;
    .pkg-info {
      .box();
      p {
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  flex-align: stretch;
}
