@import "colors";

footer {
  background: $primary;
  text-align: center;
  padding: 40px;
  margin-top: 40px;
  a, h2, p {
    color: $light;
    text-decoration: none;
  }

  h2 {
    font-family: 'Lobster', 'Lobster 1.4';
    font-weight: 400;
  }

  .links > * {
    display: inline;
    padding: 0px 20px;
  }
}
