@import "colors";
@import "mixins";

header {
  background: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;

  a, a:visited {
    color: $light;
    text-decoration: none;
  }

  h1 {
    font-family: 'Lobster', 'Lobster 1.4';
    font-weight: 400;
  }

  form {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      flex-grow: 1;
      margin-right: 20px;
      border: none;
      background: transparentize($light, 0.4);
      border-radius: 5px;
      padding: 10px;
      @include transition;

      &:hover {
        background: transparentize($light, 0.3);
      }

      &:focus {
        background: $light;
      }
    }
  }
}
