@import "colors";
@import "mixins";

@mixin packages {
  .packages {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    & > div {
      width: calc(50% - 10px);
      box-sizing: border-box;
      height: 180px;
      position: relative;
      margin-bottom: 20px;
      @include box;

      h3 {
        margin-top: 0px;
        a {
          text-decoration: none;
          color: $primary;
          font-weight: 400;
        }

        .light {
          color: $title;
          font-weight: 400;
        }
      }

      ul.tags {
        position: absolute;
        bottom: 10px;
        left: 20px;
        right: 20px;
      }

      .description {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      &.bg-msg-center {
        color: $title;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}
