@import "header";
@import "footer";
@import "packages";
@import "mixins";

html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

main {
  background: $background;
  padding: 20px 20%;
  margin: 0px;

  & > h2, & > h3 {
    color: $title;
    margin: 0px;
    padding-top: 40px;
    font-weight: 400;
  }

  h2 {
    text-transform: uppercase;
  }

  @include packages;
}

ul.tags {
  list-style: none;
  padding: 0px;
  li {
    display: inline;
    @include box;
    padding: 4px 6px;
    margin-right: 5px;
    @include transition;
    a {
      text-decoration: none;
      color: $primary;
    }

    &:hover {
      background: $background;
    }
  }

  &.spaced li {
    margin-right: 20px;
  }
}

.button {
  margin: 20px 0px;
  display: inline-block;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: black;
  @include box;
  @include transition;

  &:hover {
    background: $background;
    color: $title;
  }
}
