.login {
  .button();

  &.gh {
    background: black;
    color: white;
  }

  &.gl {
    background: #EA5028;
    color: white;
  }
}


.button {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 10px;
  margin: 30px 0px;
  text-align: center;
  border: none;
}
