@import 'colors';
@import 'dimensions';

.placeholder(@rules) {

  &::-webkit-input-placeholder {
      @rules();
  }
  &:-moz-placeholder {
      @rules();
  }
  &::-moz-placeholder {
      @rules();
  }
  &:-ms-input-placeholder {
      @rules();
  }
}

.box {
  border: 1px solid @gray;
  padding: @padding;
}

.transition {
  transition: all 0.2s ease-in;
}
